@page "/"

<PageTitle>Pizza!!!</PageTitle>


<figure class="text-center">
    <h1>Bienvenido a Pizza Blazor 3000!!!</h1>
    <p class="blockquote-footer">Donde tu apetito conoce su final.</p>
</figure>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <img src="imgs/toppings.gif" class="img-fluid" />
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        
    </div>
    <div class="col-4"></div>
</div>






